@import '../../mixins.scss';
.currency-swap{
    @include layout;
}
.currency-swap__container{
    @include layout__container;
}
.currency-swap__title{
    @include layout__title
}
.list-currency{
    width: 100%;
    margin-bottom: 20px;
}
.list-currency__swap-list{
    display: flex;
    margin: 20px 0;
    gap: 10px;
     & > *{
        flex: 1;
        
     }
}
.swap-list{
    width: 100%;
    height: 100%;
    
}
.swap-list__dropdown{
    overflow: auto;
    background-color: #ebebebeb;
    width: 100%;
}


.currency-swap__exchange-ratio{
    background-color:#0A146E ;
    color: white;
    border-radius: 4px;
    .exchange-ratio__main{
        height: 100px;
        text-align: center;
        line-height: 100px;
        p{
            font-size: 18px;
            font-weight: 600;
        }
    }
}

@media (max-width:900px) {
    .currency-swap__container{
        width: 80%;
    }
}

@media (max-width:700px) {
    .currency-swap__container{
        width: 90%;
    }
    .currency-swap__exchange-ratio .exchange-ratio__main p{
        font-size: 16px;
    }
    .currency-swap__title{
        font-size: 24px;
    }
}